* {
  font-family: "Oswald", sans-serif !important;
}

.container-main {
  max-width: 400px;
  min-height: 450px;
  background-color: rgb(218, 218, 194);
  margin: 50px auto;
  padding: 5px;
}

.expense {
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
}

.trans-list > li {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

.separator {
  border: 1px solid black;
}

.plus {
  border-right: 5px solid green !important;
}

.minus {
  border-right: 5px solid red !important;
}

.delete:hover {
  background-color: grey;
}
